<h1>Editing user</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="depot_form">

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Enter User Details</legend>

  <div class="field">
    <%= f.label :name, 'New Name:' %>
    <%= f.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :current_password, 'Current Password:' %>
    <%= f.password_field :current_password, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :password, 'New Password:' %>
    <%= f.password_field :password, size: 40 %>
  </div>

  
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm New PW:' %>
    <%= f.password_field :password_confirmation, size: 40 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  </fieldset>
<% end %>

</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
