<% unless cart.line_items.empty? %>
<h2><%= link_to t('.title'),cart_path(session[:cart_id]) %></h2>
<table>
	<%= render(cart.line_items) %>

	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>
<% if !@checkout %>
<%= button_to t('.checkout'), new_order_path,:id => "checkout", method: :get %>
<% end %>
<%= button_to t('.empty'), cart, method: :delete,remote: true,data: { confirm: 'Are you crazy??' } %>
<% end %>