// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.products{
	table{
		padding:5px;
		border-collapse:collapse
	}
	td{
		border:1px solid black;
	}
	.list_image{
		width:100px
	}
	.title{
		font-weight:bold;
	}

}