<p>
  <img src="/assets/<%= @product.image_url %>">
  
</p>
<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<p id='title'>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize @product.description %>
</p>



<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @product.locale %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
