<% @product.orders.each do |o| %>
	<h3>Order No. <%= o.id %></h3>
	<h5>Order Placed: <%= o.created_at %></h5>
	<% if o.created_at != o.updated_at %>
		<h5>Updated: <%= o.updated_at %></h5>
	<% end %>
	<h5>Shipped to: <%= o.address %></h5>
	<h6>Purchaser: <%= o.name %></h6>
	<h6>Customer Email: <%= o.email %></h6>
	
	<% o.line_items.each do |item| %>
		<p>Item: <%= item.product.title %></p>
		<p>Quantity: <%= item.quantity %></p>
		<p>Price: <%= item.price %></p>
		<p>Total: <%= item.price*item.quantity %></p>
	<% end %>
<% end %>