<% if notice %>
	<p id="notice"><%= notice %></p> 
<% end %>


<h1><%= t('.title_html') %></h1>
<% if @visits>5 %>
	<h5>You have visited <%= number_to_human @visits %> <%= @visits==1 ? 'time.' : 'times.' %></h5>
<% end %>
<h4><%= @loc %></h4>
<% cache ['store', Product.latest] do %>
	<% @products.each do |product| %>
		<% cache ['entry', product] do %>
			<div class="entry">
				<div class='image_div'>
					<%= image_tag(product.image_url, class: 'list_image')%>
				</div>
				<h3><%= product.title %></h3>
				<p class='description'><%= sanitize(product.description) %></p>
				<div class="price_line">
					<span class="price"><%= number_to_currency(us_to_euro(product.price)) %></span>
					<%= button_to t('.add_html'), line_items_path(product_id: product),remote: true %>
				</div>
			</div>
			<% end %>
	<% end %>
<% end %>